<div class="stats-container">
  <h2>Informations</h2>
  <hr class="title-divider">
  <h1>Description:</h1>
  <p>{{ pokemon.default_variety.description }}</p>
  <br>

  <!-- Conteneur flex pour Poids et Taille -->
  <div class="flex space-x-4">
    <p><strong>Poids:</strong> {{ pokemon.default_variety.weight }} kg</p>
    <p><strong>Taille:</strong> {{ pokemon.default_variety.height }} mètres</p>
  </div>
  <br>

  <h1>Ligne évolutive :</h1>
  <div class="flex justify-center items-center space-x-4">
    <!-- Pokémon actuel -->
    <div class="flex items-center">
      <img [src]="pokemon.default_variety.sprites?.front_url" alt="{{ pokemon.default_variety.name }}"
           class="h-24 w-24 p-1 rounded-lg">
      <p>{{ pokemon.default_variety.name }}</p>
    </div>

    <ng-container *ngFor="let evolution of evolutions">
      <ng-container *ngFor="let evol of evolution.evolutions">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5-5 5M6 12h12" />
          </svg>
          <img [src]="evol.evolves_to.sprites?.front_url" alt="{{ evol.evolves_to.name }}"
               class="h-24 w-24 p-1 rounded-lg">
          <p>{{ evol.evolves_to.name }}</p>
        </div>
      </ng-container>
  </div>
</div>
