<div class="profil-container">
  <!-- Informations de l'utilisateur -->
  <div class="user-info">
    <h1>Bienvenue, {{ user?.name }}</h1>
    <button (click)="logout()">Déconnexion</button>
  </div>

  <!-- Liste des Pokémons favoris -->
  <div class="favorite-pokemons">
    <h2>Pokémons Favoris</h2>

    <!-- Vérification si des Pokémon favoris existent -->
    <div *ngIf="favoritePokemons?.length; else noFavorites">
      <ul>
        <li *ngFor="let pokemon of favoritePokemons">
          <h3>{{ pokemon.name }} ({{ pokemon.category }})</h3>
        </li>
      </ul>
    </div>
    
    <!-- Template de secours si aucun Pokémon favori -->
    <ng-template #noFavorites>
      <p>Aucun Pokémon favori trouvé.</p>
    </ng-template>

  </div>

  <!-- Réponse brute de l'API (pour débogage) -->
  <div class="api-response">
    <h2>Réponse API</h2>
    <pre>{{ apiResponse }}</pre>
  </div>
</div>
