<h1 class="flex items-center mb-6 justify-between">
  <a [routerLink]="['/']" class="btn btn-circle btn-primary ml-2">←</a>
  <span class="text-sm">#{{ pokemon.id }}</span>
  <span class="flex-grow text-center">{{ pokemon.name }}</span>
</h1>


<!-- Section principale avec l'image du Pokémon et les types -->
<div class="flex items-center justify-center p-4 relative" [ngStyle]="{'background': getBackgroundStyle()}">
  <img [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name">

  <!-- Types du Pokémon (affichés en bas à gauche) -->
  <div class="absolute bottom-0 left-0 p-4 flex flex-col gap-2" style="border-radius: 0;">
    <img *ngFor="let type of pokemon.default_variety.types" [src]="type.sprite_url" [alt]="type.name" class="h-6">
  </div>
</div>

<!-- Bouton pour écouter le cri -->
<div class="flex items-center justify-center mt-4">
  <button class="btn btn-primary" (click)="playCry()">
    ▶️ Écouter le cri
  </button>
</div>

<!-- Élément audio pour jouer le son -->
<audio #pokemonCry [src]="pokemon.default_variety?.cry_url"></audio>

<!-- Sprites du Pokémon (normaux et shiny) 
<div class="flex items-center justify-center gap-3 mt-4">
  <img [src]="pokemon.default_variety.sprites?.front_url" alt="front sprite" class="h-24 w-24 p-1 bg-neutral rounded-lg">
  <img [src]="pokemon.default_variety.sprites?.front_shiny_url" alt="front sprite shiny" class="h-24 w-24 p-1 bg-neutral rounded-lg">
  <img [src]="pokemon.default_variety.sprites?.back_url" alt="back sprite" class="h-24 w-24 p-1 bg-neutral rounded-lg">
  <img [src]="pokemon.default_variety.sprites?.back_shiny_url" alt="back sprite shiny" class="h-24 w-24 p-1 bg-neutral rounded-lg">
</div> -->

<!-- Onglets pour les détails du Pokémon (grandes tailles d'écran) -->
<div role="tablist" class="tabs tabs-bordered mt-6">
  <div class="hidden lg:flex lg:space-x-6">
    <div>
      <app-pokemon-info [pokemon]="pokemon" [evolutions]="evolutions"></app-pokemon-info>
    </div>
    <div>
      <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats>
    </div>
    <div>
      <app-pokemon-abilities-moves [abilities]="abilities" [moves]="moves"></app-pokemon-abilities-moves>
    </div>
  </div>

  <!-- Onglets pour les détails (mobiles) -->
  <div class="lg:hidden">
    <input type="radio" name="my_tabs" class="tab" (click)="selectTab(1)" [checked]="selectedTab === 1"
      aria-label="Tab 1" />
    <input type="radio" name="my_tabs" class="tab" (click)="selectTab(2)" [checked]="selectedTab === 2"
      aria-label="Tab 2" />
    <input type="radio" name="my_tabs" class="tab" (click)="selectTab(3)" [checked]="selectedTab === 3"
      aria-label="Tab 3" />

    <div *ngIf="selectedTab === 1">
      <app-pokemon-info [pokemon]="pokemon" [evolutions]="evolutions"></app-pokemon-info>
    </div>
    <div *ngIf="selectedTab === 2">
      <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats>
    </div>
    <div *ngIf="selectedTab === 3">
      <app-pokemon-abilities-moves [abilities]="abilities" [moves]="moves"></app-pokemon-abilities-moves>
    </div>
  </div>
</div>