<h1 class="flex items-center mb-6 justify-between">
  <!-- Bouton flèche sans texte, avec un trait vertical à gauche -->
  <a [routerLink]="['/']">
    ←
  </a>

  <!-- Trait vertical entre la flèche et l'ID -->
  <span class="border-l-2 border-gray-400 h-6 mx-2"></span>

  <!-- Affichage de l'ID -->
  <span class="text-sm">#{{ pokemon.id }}</span>

  <!-- Nom du Pokémon centré -->
  <span class="flex-grow text-center">{{ pokemon.name }}</span>
</h1>


<!-- Section principale avec l'image du Pokémon et les types -->
<div class="flex items-center justify-center p-4 relative" [ngStyle]="{'background': getBackgroundStyle()}">
  <img *ngIf="!showShiny" [src]="pokemon.default_variety.sprites?.artwork_url" [alt]="pokemon.name">
  <img *ngIf="showShiny" [src]="pokemon.default_variety.sprites?.artwork_shiny_url" [alt]="pokemon.name">

  <!-- Conteneur Flex pour les boutons -->
  <div class="absolute top-0 right-0 bottom-0 left-0 flex justify-between items-center p-4">

    <!-- Bouton pour afficher la version shiny -->
    <div class="absolute bottom-4 right-4">
      <button class="btn btn-circle btn-primary" (click)="toggleShiny()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="currentColor" viewBox="0 0 24 24"
          stroke="none">
          <path d="M12 17.27L18.18 21 16.54 13.97 22 9.24l-6.91-.55L12 2 9.91 8.69 3 9.24l5.46 4.73L5.82 21z" />
        </svg>
      </button>
    </div>

    <!-- Bouton pour écouter le cri -->
    <div class="absolute top-4 right-4">
      <button class="btn btn-circle btn-primary" (click)="playCry()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="currentColor" viewBox="0 0 24 24"
          stroke="none">
          <path d="M5 3l14 9-14 9V3z" />
        </svg>
      </button>
    </div>

  </div>

  <!-- Types du Pokémon -->
  <div class="absolute bottom-0 left-0 p-4 flex flex-row gap-2" style="border-radius: 0;">
    <img *ngFor="let type of pokemon.default_variety.types" [src]="type.sprite_url" [alt]="type.name" class="h-6">
  </div>

</div>

<!-- Élément audio pour jouer le son -->
<audio #pokemonCry [src]="pokemon.default_variety?.cry_url"></audio>

<!-- Sprites du Pokémon (normaux et shiny) 
<div class="flex items-center justify-center gap-3 mt-4">
  <img [src]="pokemon.default_variety.sprites?.front_url" alt="front sprite" class="h-24 w-24 p-1 bg-neutral rounded-lg">
  <img [src]="pokemon.default_variety.sprites?.front_shiny_url" alt="front sprite shiny" class="h-24 w-24 p-1 bg-neutral rounded-lg">
  <img [src]="pokemon.default_variety.sprites?.back_url" alt="back sprite" class="h-24 w-24 p-1 bg-neutral rounded-lg">
  <img [src]="pokemon.default_variety.sprites?.back_shiny_url" alt="back sprite shiny" class="h-24 w-24 p-1 bg-neutral rounded-lg">
</div> -->

<!-- Onglets pour les détails du Pokémon (grandes tailles d'écran) -->
<div role="tablist" class="tabs tabs-bordered mt-6 mx-6"> <!-- Ajout de mx-6 -->
  <div class="hidden lg:flex lg:space-x-6">
    <div>
      <app-pokemon-info [pokemon]="pokemon" [evolutions]="evolutions"></app-pokemon-info>
    </div>
    <div>
      <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats>
    </div>
    <div>
      <app-pokemon-abilities-moves [abilities]="abilities" [moves]="moves"></app-pokemon-abilities-moves>
    </div>
  </div>

  <!-- Onglets pour les détails (mobiles) -->
  <div class="lg:hidden">
    <input type="radio" name="my_tabs" class="tab" (click)="selectTab(1)" [checked]="selectedTab === 1"
      aria-label="Tab 1" />
    <input type="radio" name="my_tabs" class="tab" (click)="selectTab(2)" [checked]="selectedTab === 2"
      aria-label="Tab 2" />
    <input type="radio" name="my_tabs" class="tab" (click)="selectTab(3)" [checked]="selectedTab === 3"
      aria-label="Tab 3" />

    <div *ngIf="selectedTab === 1">
      <app-pokemon-info [pokemon]="pokemon" [evolutions]="evolutions"></app-pokemon-info>
    </div>
    <div *ngIf="selectedTab === 2">
      <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats>
    </div>
    <div *ngIf="selectedTab === 3">
      <app-pokemon-abilities-moves [abilities]="abilities" [moves]="moves"></app-pokemon-abilities-moves>
    </div>
  </div>
</div>