<div class="font-courgette">
    <p><strong>Base Stats:</strong></p>
    <ul>
      <li><strong>HP:</strong> {{ pokemon.default_variety.base_stat_hp }} 
          <progress class="progress w-56" value="{{ pokemon.default_variety.base_stat_hp }}" max="100"></progress>
      </li>
      <li><strong>Attack:</strong> {{ pokemon.default_variety.base_stat_attack }} 
          <progress class="progress w-56" value="{{ pokemon.default_variety.base_stat_attack }}" max="100"></progress>
      </li>
      <li><strong>Defense:</strong> {{ pokemon.default_variety.base_stat_defense }} 
          <progress class="progress w-56" value="{{ pokemon.default_variety.base_stat_defense }}" max="100"></progress>
      </li>
      <li><strong>Special Attack:</strong> {{ pokemon.default_variety.base_stat_special_attack }} 
          <progress class="progress w-56" value="{{ pokemon.default_variety.base_stat_special_attack }}" max="100"></progress>
      </li>
      <li><strong>Special Defense:</strong> {{ pokemon.default_variety.base_stat_special_defense }} 
          <progress class="progress w-56" value="{{ pokemon.default_variety.base_stat_special_defense }}" max="100"></progress>
      </li>
      <li><strong>Speed:</strong> {{ pokemon.default_variety.base_stat_speed }} 
          <progress class="progress w-56" value="{{ pokemon.default_variety.base_stat_speed }}" max="100"></progress>
      </li>
    </ul>
  </div>
  