<div class="stats-container">
    <h2>Statistiques</h2>
    <hr class="title-divider">
    <h1>Statistiques de base :</h1>

    <ul class="stats-list">
        <li>
            <span class="stat-label">PV</span>
            <span class="h2">{{ pokemon.default_variety.base_stat_hp }}</span>
            <progress class="custom-progress progress-green" [value]="pokemon.default_variety.base_stat_hp"
                max="255"></progress>
        </li>
        <li>
            <span class="stat-label">Attaque</span>
            <span class="h2">{{ pokemon.default_variety.base_stat_attack }}</span>
            <progress class="custom-progress progress-red" [value]="pokemon.default_variety.base_stat_attack"
                max="255"></progress>
        </li>
        <li>
            <span class="stat-label">Défense</span>
            <span class="h2">{{ pokemon.default_variety.base_stat_defense }}</span>
            <progress class="custom-progress progress-blue" [value]="pokemon.default_variety.base_stat_defense"
                max="255"></progress>
        </li>
        <li>
            <span class="stat-label">Attaque Spéciale</span>
            <span class="h2">{{ pokemon.default_variety.base_stat_special_attack }}</span>
            <progress class="custom-progress progress-orange" [value]="pokemon.default_variety.base_stat_special_attack"
                max="255"></progress>
        </li>
        <li>
            <span class="stat-label">Défense Spéciale</span>
            <span class="h2">{{ pokemon.default_variety.base_stat_special_defense }}</span>
            <progress class="custom-progress progress-purple"
                [value]="pokemon.default_variety.base_stat_special_defense" max="255"></progress>
        </li>
        <li>
            <span class="stat-label">Vitesse</span>
            <span class="h2">{{ pokemon.default_variety.base_stat_speed }}</span>
            <progress class="custom-progress progress-darkblue" [value]="pokemon.default_variety.base_stat_speed"
                max="255"></progress>
        </li>
    </ul>

    <h2>Résistances et faiblesses</h2>

    <div *ngIf="weaknesses.length > 0">
        <div *ngFor="let group of groupByMultiplier(weaknesses)">
            <div class="interaction-group">
                <p class="interaction-label">Faiblesses ({{ group.multiplier }}) :</p>
                <div class="sprites-container">
                    <img *ngFor="let weakness of group.items" [src]="weakness.sprite_url" [alt]="weakness.name"
                        class="move-type-sprite">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="immunities.length > 0">
        <div *ngFor="let group of groupByMultiplier(immunities)">
            <div class="interaction-group">
                <p class="interaction-label">Immunités ({{ group.multiplier }}) :</p>
                <div class="sprites-container">
                    <img *ngFor="let immunity of group.items" [src]="immunity.sprite_url" [alt]="immunity.name"
                        class="move-type-sprite">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="resistances.length > 0">
        <div *ngFor="let group of groupByMultiplier(resistances)">
            <div class="interaction-group">
                <p class="interaction-label">Résistances ({{ group.multiplier }}) :</p>
                <div class="sprites-container">
                    <img *ngFor="let resistance of group.items" [src]="resistance.sprite_url" [alt]="resistance.name"
                        class="move-type-sprite">
                </div>
            </div>
        </div>
    </div>
</div>