<div class="stats-container">
  <!-- Titre "Capacités" caché en version mobile -->
  <h2 class="hidden sm:block">Capacités</h2> <!-- Cacher en mobile, afficher sur tablettes et plus -->
  <hr class="title-divider hidden sm:block">

  <h1>Talents:</h1>
  <ul>
    <li *ngFor="let ability of abilities">
      <h2>{{ ability?.name }}</h2>
      <p>{{ ability?.effect }}</p>
      <br>
    </li>
  </ul>

  <ng-template #noVersions>
    <p>Aucune version du jeu disponible.</p>
  </ng-template>

  <!-- "Capacités de base" et le dropdown alignés sur la même ligne -->
  <h2 style="display: inline-block; margin-right: 10px;">Capacités de base :</h2>
  <details class="dropdown" *ngIf="gameVersions.length > 0; else noVersions" style="display: inline-block;">
    <summary class="dropdown-btn">
      {{ getSelectedVersionName() }}
    </summary>
    <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
      <li *ngFor="let version of gameVersions">
        <a (click)="filterMovesByVersion(version.id)">
          {{ version.name }}
        </a>
      </li>
    </ul>
  </details>

  <ul>
    <li *ngFor="let move of filteredMoves">
      <button class="btn move-button" (click)="openModal(move)">
        <div class="move-item">
          <img *ngIf="move.type" [src]="move.type?.sprite_url" alt="{{ move.type?.name }} sprite"
            class="move-type-sprite">
          <span class="move-text">{{ move.name }}</span>
        </div>
      </button>
    </li>
  </ul>
</div>
