/* styles.css */
/* Importer la police depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Vous pouvez ajouter d'autres importations ici si nécessaire */

/* Les styles de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux supplémentaires */
.card {
  @apply bg-white shadow-md rounded-lg p-4 border border-zinc-400 transition-colors;

  &.clickable:hover {
    @apply border-zinc-700 bg-zinc-300;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  font-family: 'Courgette';
  color: #000;
  background-color: #E87A7A;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 17.5px;
}

.white-block {
  width: 100%;
  background-color: white;
  border-radius: 58px;
  overflow: auto;
  margin: 0;
}


.title-divider {
  width: 50%;
  margin: 0 auto;
  border: none;
  border-top: 2px solid black;
  margin-bottom: 15px;
}